@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  --primary-color: #1b3547;
  --secondary-color: #2ecc71;
  --background-color: #191e1f;
  --text-color: #ffffff;
  --input-background: #ffffff;
  --input-border: #bdc3c7;
  --button-background: var(--primary-color);
  --button-hover-background: #2980b9;
  --button-text-color: #ffffff;
  --error-color: #e74c3c;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.register-p {
  text-align: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  width: 94%;
}

input:focus {
  outline: none;
  border-color: var(--primary-color);
}

button {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  padding: 10px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 4px;
  background-color: var(--button-background);
  color: var(--button-text-color);
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-background);
}

.container {
  max-width: 400px;
  width: 100%;
  background-color: #2e3c3f;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container {
  background-color: var(--input-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}
